.addSecondaryBtn {
    width: 100%;
    gap: 5px;
    padding: 5px 0;
    font-size: 1.8rem;
    font-weight: 400;
    background-color: transparent;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-top: 1.6rem;
}

.addSecondaryBtn:hover,
.addSecondaryBtn:active {
    background-color: #d4d4d4;
}
