.personalInfo__mainBox {
    padding: 3.2rem 2.4rem;
    background-color: #fff;
    border-radius: 20px;

    width: 500px;
}

.personalInfo__header {
    gap: 1rem;
    margin-bottom: 2.4rem;
}

.personalInfo__headingBox {
    flex-grow: 1;
}

.personalInfo__heading {
    font-size: 2.4rem;
    color: var(--black);
}

.personalInfo__nameInputBox {
    margin-bottom: 2rem;
}

.personalInfo__nameInputLabel,
.personalInfo__emailInputLabel {
    font-size: 1.8rem;
    color: var(--black);
    display: block;
    margin-bottom: 1.2rem;
}

.personalInfo__nameInput,
.personalInfo__emailInput {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.6rem;
    background-color: #f1f1f1;
    display: block;
    width: 100%;
    border-radius: 5px;
}
