/*******************/
/* Root setting */
/*******************/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    background-color: #e5f6ff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

:root {
    --black: #383838;
    --white: #fff;
}

input,
button {
    border: none;
}

input,
select,
textarea {
    border: 0;
    font-family: inherit;
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
