/*******************/
/* Utility classes */
/*******************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-gap-sm {
    gap: 1rem;
}

.flex-gap-md {
    gap: 2rem;
}

.flex-gap-lg {
    gap: 3.2rem;
}

.flex-grow-1 {
    flex-grow: 1;
}
