.skillsContentSkillsContainer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    list-style: disc;
    padding-left: 2.4rem;
}

.skillsContentSingleSkill {
    font-size: 1.4rem;
    font-weight: 400;
}
